@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Zen+Dots&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Nunito", serif;
    font-optical-sizing: auto;
}

#NAvbar_1{

    background: #000;
    height: 80px;
}

.navbar-brand {

    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Zen Dots", serif;
    font-weight: 400;
    font-style: normal;
    
    
}

.navbar-brand #brand_name:hover{
    color: #6de6e2;
}


.nav-link {

    color: #ffff;
    }

.nav-link:hover{

    color: #aa8453;
}

.active  {

  color:#aa8453 !important;   
}

.bag {
    font-size: 12px;
    height: 20px;
    width: 20px;
    background-color: #aa8453;
    border-radius: 50%;
    line-height: 20px;
    text-align: center;
}

.navbar-toggler{

color:transparent;
border:none;
margin-left: 12px;
}

.btn-close:hover{

    transform:rotate(180deg);
    transition:6s;
    color: #aa8453;
}

.search-input{

    width: 90%;
    height: 50px;
    border-radius: 50px;
    display: flex;
    align-items: center;
    padding: 0px 0px 0px 4px; 
}

.search-input input{

    width: 100%;
    height: 100%;
    border-radius: 50px;
    outline: none;
    background-color: transparent;
    text-align: center;
}

.search-input button {

    width: 15%;
    height: 100%;
    border-radius: 50px;
    text-align: center;
    cursor: pointer;
 } 

 .top-search{
 
    margin-top: 15px;
 }

 .top-search h5{

     font-size: 20px;
     padding: 10px 0px;
     margin-left: 10px;
}

.top-search p {

    background-color: #aa8453;
    color: #fff;
    text-align: center;
    font-size: 12px;
    padding: 5px 4px;
    cursor: pointer;
}
.swiper-slide img {

width: 100%;
height: 100vh;
object-fit: cover;
}

.swiper-slide .swiper-title{

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    text-align: center;
}
.swiper-slide .swiper-title h3{

    font-size: 55px;
    text-transform: uppercase;

}
.swiper-slide .swiper-title h3:hover{

    color: #aa8453;
}
.swiper-slide .swiper-title  a{

    color:#fff;
    text-transform: capitalize;


}

.swiper-button-next, .swiper-button-prev {

    color: #aa8453 !important;
}

.offer{

    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
    margin-top: 5px;
    
   
}

.offer img{

    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
    transition: 0.8s;
    object-fit: cover;
   
}

.offer:hover img{

    transform: scale(1.1);
}

.offer .offertext{

    text-transform: uppercase;
    position: absolute;
    top: 50%;
    left: 30px;
    transform: translateY(-50%);
    
}
.offer .offertext h3 span {

    color: #4aedd7a4;
}

.offer .offertext p {

    color: #181515;
    font-size: 20px;
    text-transform: capitalize;

}

.offer .offertext .chain-lamp {

   color: white;
}
.offer .offertext lamp {

color: white;
}

.offer .offertext  a{

    background-color: white;
    padding: 15px,15px;
    text-decoration: none;
    color: #000;
    font-size: 16px;
    transition: 0.4s;
   

}

.offer:hover .offertext  a{

    background-color: #aa8453;
    color:#fff;
}

section{

    padding: 10px 0px;
}

.policy{

    border: 1px solid #7777;
    padding: 10px 5px;

}

.policy .policy-img {

    display: flex;
    align-items: center;
    justify-content:center;

}

.policy .policy-img img{

    height: 80px;
    width: 60px;
    object-fit: cover;
}

.policy:hover .policy-img img{

    animation: shake 1s;

}

@keyframes shake {
    10% , 90%{

        transform: translate3d(-1px,0,0);
    }

    20% , 80%{

        transform: translate3d(2px,0,0);
    }

    30% , 50% ,  70%{

        transform: translate3d(-2px,0,0);
    }

    40% , 60%{

        transform: translate3d(2px,0,0);
    }
}
.policy .policy-img h3{

   font-size: 19px;
   text-transform: capitalize;
   padding: 1px;
   margin-left: 10px;
}

.policy p{

    text-align: center;
}